.dialog-container {
    text-align: justify;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .dialog-container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .dialog-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-evenly;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  }