<div *ngIf="!showDetails">
    <!-- Form Section -->
    <h1>Start Your Assessment</h1>
    <form [formGroup]="form" (ngSubmit)="startTest()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
      </div>
      <div>
        <label for="phone">Phone:</label>
        <input id="phone" formControlName="phone" />
      </div>
      <button type="submit" [disabled]="form.invalid">Start Test</button>
    </form>
  </div>
  
  <div *ngIf="showDetails">
    <h1>{{ assessmentData.name }}</h1>
    <p>Duration: 120 Minutes</p>
  
    <!-- Buttons Section -->
    <div>
      <button>Test Run</button>
      <button>Final Submit</button>
      <button (click)="toggleInstructions()" style="float: right">
        {{ buttonText }}
      </button>
    </div>
  
    <!-- PDF Viewer Section -->
    <ngx-extended-pdf-viewer
      [src]="'http://http://13.90.102.109:5000/spring-boot-files/instructions'"
      [language]="'en'"
      height="600px"
      style="border: 1px solid #ddd; border-radius: 5px; margin-top: 20px;"
    ></ngx-extended-pdf-viewer>
  </div>
  